body {
    background-color: rgb(168, 168, 168);
    font-family: sans-serif;
}
.header {
    color: white;
    background-color: black;
    padding: 1rem;
    padding-left: 0;
    margin-left: 0;
    width: 700px;
}

a {
    display: inline-block;
}

.big {
    font-size: 36px;
}

img {
    height: auto;
    width: 300px;
}

div {
    color: white;
    background-color: black;
}

p {
    color: rgb(255, 255, 255);
}